*~
*.rpm
./Makefile
.image-stamp
autom4te.cache
base/bootstrap.sh
bot/Dockerfile
bot/Makefile
config
config.log
config.status
configure
db/Dockerfile
db/Makefile
fuse/Dockerfile
fuse/Makefile
fuse/greenfx-configure-fuse.sh
jboss*.zip
log/Dockerfile
log/Makefile
logs
ticks-oanda/config.h
ticks-oanda/ticks-oanda
quicklisp.tar.gz
