# =======================================================
# Configuration Settings for greenfx
# =======================================================

# What's the IP address of the application that will
# be connecting to the PostgreSQL DB?

APP_IP_ADDRESS=[docker host here]

# What's bot's postgresql database password?

BOT_POSTGRESQL_PASSWORD=[password here]

# Where is the JBoss FUSE distribution

JBOSS_FUSE_ZIP=[zip file path here]

# What is the admin password for JBoss FUSE

JBOSS_FUSE_ADMIN_PASSWORD=[password here]

# What's the IP address of our central rsyslog server

RSYSLOG_IP_ADDRESS=[ip here]

# What Oanda domain will we query for tick streams (eg. "http://stream-sandbox.oanda.com")

OANDA_STREAM_DOMAIN="http://stream-sandbox.oanda.com"

# Our Oanda API access token

OANDA_ACCESS_TOKEN=[access token string here]

# Our Oanda account ID

OANDA_ACCOUNT_ID=[account ID string here]

